@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

nav {
    /*background-color: #52f2b7;*/
    left: 0;
    right: 0;
    top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #94343F;
}

div div h1 {
    color: #94343F;
    font-family: 'Oswald', sans-serif;
}

div div h2 {
    color: #94343F;
    font-family: 'Oswald', sans-serif;
}

.logo_stompers {
    margin-top: 10px;
}

nav .menu {
    float: right;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

nav .menu li {
    list-style-type: none;
}

nav .menu a{
    display: block;
    color: #ffffff;
    text-align:center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    width: 100%;
}

.menuEffect:hover {
    border-bottom: 4px solid #1d7cfa;
    color: rgb(162 214 255)
}

.navigation .btnAccounts {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.navigation .btnAccounts:hover {
    background: #fff;
    color: #162938;
}


/*GRID*/

div div a img {
    width: 480px;
    height: 320px;
}

#contenidor{
    padding: 5px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    /*grid-template-columns: 50px auto 75px;
    grid-template-rows: 60px auto 50px;*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}
#contenidor div{
    background-color: #000000;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

footer p {
    padding-top: 10px;
    background-color: #94343F;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
}

/*EXPERIMENTAL*/

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 15px;
    background-color: #95343F;
}

.show-dropdown {
    display: block;
}

.opcion-submenu {
    position: relative;
}

/*LOGIN RESULT*/

#mensaje {
    padding: 10px;
    margin: 10px;
    border: 1px solid #605c5c;
    background-color: #f0f0f0;
    color: #c74545;
}

#mensaje h1,p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*CART LOGO*/


#figura_carrito {
    display: flex; /* Utiliza flexbox para la disposición */
    align-items: center; /* Centra verticalmente los elementos */
    height: 50px; /* Establece una altura fija para todos los elementos */
}

#figura_carrito a {
    margin-right: 2px; /* Ajusta el espacio entre el icono y el texto, según sea necesario */
}

.cart-count {
    background-color: #000000; /* Color de fondo del número */
    color: #ffffff; /* Color del texto */
    padding: 2px 5px; /* Espaciado interno */
    border-radius: 50%; /* Bordes redondeados para un aspecto más agradable */
    font-size: 12px; /* Tamaño del texto */
}